* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    height: 170px;
    width: 100vw;
    background: linear-gradient(0deg, #7A6C9D 0%, #493D7D 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.phone-book-app {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    /* font-weight: 00px; */
    font-size: 34px;
    color: #FFFFFF;
}

.container-usuario-vetor{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ola-Usuario{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    color: #FFFFFF;
}

.container-meus-contatos {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 140px;
    height: 45px;
    left: 70px;
    bottom: 0px;
    background: #8871CC;
    border-radius: 5px 5px 0px 0px;
}

.meus-contato{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

#section-2 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    margin: 20px;
}

.container-tipo-contato {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-filtrar-por {
    display: inline-flex;
    margin: 5px;
}

.filtrar-por{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B4AEAE;
}

.container-familia {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8871CC;
    border-radius: 25px;
    width: 100px;
    height: 30px;
}

.familia{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.container-amigos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #8871CC;
    border-radius: 25px;
}

.amigos {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #8871CC;
}

.container-outros{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #8871CC;
    border-radius: 25px;
}

.outros{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #8871CC;
}

.button-criar-contato {
    border: none;
    display: flex;
    align-items: center;
    padding: 2px 20px;
    gap: 5px;
    background: #15D892;
    border-radius: 5px;
}

.cria-contato {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    color: #FFFFFF;
}

#section-3 {
    padding: 13px 15px;
    margin: 3px 70px;
    background-color: #efefef;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.container-section-3{
    display: flex;
    align-items: center;
}

.section-3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B4AEAE; 
}

.card-contato {
    padding: 12px 15px;
    margin: 1px 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex-center {
    display: flex;
    align-items: center;
} 

.fonte-card{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B4AEAE;
}

.container-btn-acao {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn-acao {
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.bg-azul {
    background: #15AED8;
}

.bg-vermelho {
    background: #D7426F;
}

.section-5 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
}

.none{
    display: none;
}

.modal-adicionar-editar {
    display: flex;
    padding: 30px 70px 100px 70px;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    gap: 20px;
}

.container-modal-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    gap: 10px;
    color: #8871CC;
}

.icon-large {
    display: flex;
    width: 50px;
}

.container-p {
    width: 350px;
}

.texto {
    font-size: 17px;
    text-align: center;
    color: #8871CC;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input1::placeholder {
    color: #a9a9a9;
}

.input-txt {
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #8871CC;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
}

.input1:focus {
    outline: 1.5px solid #8871CC;
}

.container-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cancelar {
    width: 150px;
    height: 40px;
    background: white;
    border: 2px solid #8871CC;
    border-radius: 5px;
    color: #8871CC;
}

.salvar {
    width: 150px;
    height: 40px;
    background: #15D892;
    border: 4px solid #15D892;
    border-radius: 5px;
    color: white;
}

.section-6 {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
}

.section-6.none{
    display: flex;
}

.modal-remover-contato {
    display: flex;
    padding: 20px 70px 30px 70px;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    gap: 20px;
}

.container-modal-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.attention-icon {
    display: flex;
    width: 90px;
}

.atençao {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #8871CC;
}

.texto2 {
    margin: 0px 0px 20px;
    font-size: 18px;
    line-height: 28px;
    color: #B4AEAE;
}

.container-buttons-2 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cancelar-2 {
    width: 150px;
    height: 40px;
    background: white;
    border: 2px solid #8871CC;
    border-radius: 5px;
    color: #8871CC;
    
    font-family: 'Roboto';
    font-size: 18px;
}

.remover {
    width: 150px;
    height: 40px;
    background: #D7426F;
    border: 2px solid #D7426F;
    border-radius: 5px;
    color: white;
    
    font-family: 'Roboto';
    font-size: 18px;
}

.pointer{
    cursor: pointer;
}

