* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 267px;
    width: 1196px;
    left: 0px;
    top: 0px;
    margin: 01px;
    margin-top: 02px;
    border-radius: 0px;
    background: linear-gradient(0deg, #7A6C9D 0%, #493D7D 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.phone-book-app {
    position: absolute;
    width: 305px;
    height: 41px;
    left: 81px;
    top: 36px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 34px;
    line-height: 42px;

    color: #FFFFFF;
}

.ola-usuario {
    position: absolute;
    width: 131px;
    height: 28px;
    left: 930px;
    top: 43px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    color: #FFFFFF;

}

.meus-contatos {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

}

.container-contato {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 160px;
    height: 45px;
    left: 81px;
    top: 224px;

    background: #8871CC;
    border-radius: 5px 5px 0px 0px;

}

.vector {
    position: absolute;
    left: 88.25%;
    right: 6.31%;
    top: 6.24%;
    bottom: 6.25%;

}