* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to bottom, #493D7D, #7A6C9D);
  height: 300px;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #B4AEAE;
}

#user-icon-small {
  height: 40px;
}

h4 {
  font-size: 25px;
  margin-right: 10px;
}

.info-container {
  display: flex;
  align-items: flex-start;
}

.info-wrapper {
  display: flex;
  align-items: center;
}

.tab {
  background-color: #8871CC;
  font-size: 20px;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
}

.sub-header {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.filter-container {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-selected {
  background-color: #8871CC;
  border-radius: 25px;
  padding: 5px 15px;
}

.filter-no-selected {
  background-color: #FFF;
  border-radius: 25px;
  padding: 5px 15px;
  color: #8871CC;
  border: 1px solid #8871CC;
}

.add-button {
  background-color: #15D892;
  color: #FFF;
  padding: 8px 25px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  padding: 20px 30px;
  margin: 50px;
  background-color: #F7F7F7;
  border-radius: 7px;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}